<template>
  <header id="header">
    <nav class="navigation" role="navigation" aria-label="main navigation">
      <div class="navigation-logo">
        <nuxt-link to="/">
          <h1>
            KlimaZnacht
          </h1>
        </nuxt-link>
      </div>
      <div class="boundaries intro">
        Am KlimaZnacht treffen sich Menschen, die im Hinblick auf den
        Klimawandel aktiv werden und sich deshalb austauschen wollen. Willkommen
        sind alle. Anmeldung unter
        <a href="mailto:kontakt@klimaznacht.ch">kontakt@klimaznacht.ch</a>.
      </div>
      <div class="navigation-menu">
        <ul class="boundaries">
          <li v-for="(item, key) in menu" :key="key">
            <nuxt-link :to="item.url"
              ><span>{{ item.label }}</span></nuxt-link
            >
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menu: [
        {
          url: '/',
          label: 'Termine'
        },
        {
          url: '/magazin',
          label: 'KlimaZnachtMagazin'
        },
        {
          url: '/kontakt',
          label: 'Kontakt'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#header {
  a {
    color: inherit;
    text-decoration: none;
  }

  .navigation-logo {
    display: flex;
    justify-content: center;
    padding: 0 2vmin;
    text-align: center;
  }

  .intro {
    margin-bottom: 2em;
    margin-top: 1em;

    a {
      text-decoration: underline;
    }
  }

  .navigation-menu {
    border: solid;
    border-width: 1px 0;
    justify-content: center;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0 auto;

      li {
        flex: 1 1 auto;
        text-align: center;

        a {
          display: block;

          span {
            display: inline-block;
            padding-bottom: 0.7em;
            padding-top: 0.7em;
            position: relative;
          }

          &.nuxt-link-exact-active span::after {
            background-color: currentColor;
            border-radius: 50%;
            bottom: -2px;
            content: '';
            height: 4px;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 4px;
          }
        }

        &:first-child {
          a {
            text-align: left;
          }
        }

        &:last-child {
          a {
            text-align: right;
          }
        }
      }
    }
  }
}
</style>
