<template>
  <div class="spinner">
    <div class="spinner-wheel"></div>
  </div>
</template>

<style lang="scss" scoped>
.spinner {
  display: flex;
  justify-content: center;
  padding: 1em;

  &-wheel {
    animation: spin 1s linear infinite;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3f3f3f;
    height: 30px;
    width: 30px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
