<template>
  <div class="page">
    <EventList :events="events" />
  </div>
</template>

<script>
import EventList from '~/components/EventList.vue'
import fetchEvents from '~/assets/api'

export default {
  components: {
    EventList
  },

  async asyncData(context) {
    return {
      events: await fetchEvents()
    }
  },
  transition: 'slide-right'
}
</script>
