<template>
  <div class="page">
    <section class="article">
      <h2>KlimaZnachtMagazin</h2>
      <a href="https://pad.riseup.net/p/t2x7zfo7npZo-keep"
        >Bitte klicke hier, um auf die Coworking-Seite von KlimaZnacht zu
        gelangen.</a
      >
    </section>
  </div>
</template>

<script>
export default {
  transition: 'slide-right'
}
</script>

<style lang="scss" scoped>
.article {
  a {
    text-decoration: underline;
  }
}
</style>
